.login-page-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login {
  display: flex;
  justify-content: center;
  width: 800px;
}

.login-tytle {
  margin-left: 50px;
  font-family: "Kanit", sans-serif;
  color: rgb(107, 107, 107);
}

.login-validErr {
  width: 500px;
  height: 30px;
  margin-left: 50px;
  font-family: "Kanit", sans-serif;
  color: rgb(200, 50, 50);
  font-size: large;
  font-weight: 500;
  text-align: center;
  line-height: 30px;
}

.login-form-block {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  font-family: "Kanit", sans-serif;
  font-size: large;
  color: rgb(107, 107, 107);
}

.input-login {
  width: 700px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid rgb(107, 107, 107);
  outline: 0;
}
.input-login:focus {
  border: 2px solid rgb(107, 107, 107);
}

.register-link {
  background-color: rgb(101, 164, 130);
  color: white;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}
