.products-field-block {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 1000px;
  margin-top: 20px;
}
.title-products-field {
  margin-left: 40px;
  font-family: "Kanit", sans-serif;
  color: rgb(107, 107, 107);
}
.products-field-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  height: fit-content;
}
.products-field-btn {
  width: fit-content;
  height: fit-content;
  font-family: "Kanit", sans-serif;
  color: rgb(107, 107, 107);
  font-size: larger;
}
.products-field-ul {
  display: none;
  display: flex;
  flex-direction: row;
}
.products-field-li {
  margin-left: 10px;
  font-family: "Kanit", sans-serif;
  font-size: medium;
}

.products-field {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 90%;
  margin-top: 40px;
}
.product-block {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-bottom: 40px;
  width: 300px;
  height: 400px;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 15px;
  box-shadow: 1px 1px 5px gray;
}

.img-products-block {
  width: 80%;
  height: 70%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.product-img {
  width: 100%;
  height: 100%;
}
.title-block {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  text-decoration: underline;
  color: rgb(107, 107, 107);
}
.price-block {
  width: 100%;
  height: 30px;
  margin-left: 50px;
  font-family: "Kanit", sans-serif;
  font-size: xx-large;
  font-weight: 900;
  color: rgb(107, 107, 107);
}
